@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:regular,regularitalic,bold|Fira+Mono');

body {
  margin: 0;
  padding: 2em 3em;
}

h1 {
  font-family: 'Fira Mono';
  font-size: 40px;
  text-align: center;
}

button {
  font-family: 'Roboto Mono';
  border: 1px solid #d8d8d8;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e0e0e0;
}

input, button {
  outline: 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

label {
  font-size: 20px;
  font-family: 'Roboto Mono'
}

form {
  margin: 0 auto;
  width: 400px;
}

input[type=text] {
  font-family: 'Roboto Mono'
}

li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-family:'Roboto Mono';
  background: #afc6b8;
  transition: background 0.3s;
}

li:hover {
  background: #a1b7aa;
}

.year {
  font-style: italic;
}

.movie {
  font-weight: bold;
}

li.favorite {
  background: #f2756d;
}

li.favorite:hover {
  background: #f25d52;
}
.trash, .fave {
  float: right;
}




