@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:regular,regularitalic,bold|Fira+Mono');

body {
  margin: 0;
  padding: 2em 3em;
}

h1 {
  font-family: 'Fira Mono';
  font-size: 40px;
  text-align: center;
}

button {
  font-family: 'Roboto Mono';
}

ul {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 0;
}

label {
  font-size: 20px;
  font-family: 'Roboto Mono'
}

form {
  margin: 20px auto;
  width: 400px;
}

input[type=text] {
  font-family: 'Roboto Mono'
}

li {
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  font-family:'Roboto Mono';
  background: #a7bfb1;
  transition: background 0.3s;
}

li:hover {
  background: #f2756d;
}

.year {
  float: right;
}
